#overlay {
  background-color: rgba(61,70,100,.86);
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
  font-family: Arvo;
  font-size: 50px;
  color: white;
  font-weight: lighter;
}

h2 {
  font-family: Source Sans Pro;
  font-weight: lighter;
  font-size: 58px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.links {
  position: aboslute;
  text-align: right;
  padding: 33px 55px 0px 0px;
  font-family: Source Sans Pro;
  font-size: 17px;
}

.phone {
  padding-right: 17px;
}

i {
  transform: translateY(20%);
}

a {
  text-decoration: none;
  color: white;
}

#content {
  text-align: center;
}

p {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  position: relative;
  margin-top: 0px;
  color: rgb(167,169,180);
  margin-bottom: 45px;
  letter-spacing: .1px;
}

button {
  font-size: 15px;
  font-weight: 100;
  color: white;
  background-color: rgb(83,115,218);
  border-radius: 50px;
  padding: 15px 40px;
  border: none;
}

button:hover {
  opacity: .8;
}

body {
  background-image: url("https://bankjoy.com/assets/images/backgrounds/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
}

#images {
  width: 100%;
  position: relative;
  padding-top: 50px;
}

img {
  width: 330px;
  height:673;
}

.imageleft {
  position: absolute;
  left: 26.5%;
  z-index: 1;
}

.imagecenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.imageright {
  position: absolute;
  left: 55.5%;
  z-index: 1;
}
