h1 {
  text-align: center;
  font-family: Arvo;
  font-size: 50px;
  color: white;

  font-weight: lighter;
}

h2 {
  font-family: Source Sans Pro;
  font-weight: lighter;
  font-size: 58px;
  color: white;
  letter-spacing: 1px;
}

.links {
  position: aboslute;
  text-align: right;
  padding: 33px 55px 0px 0px;
  font-family: Source Sans Pro;
  font-size: 17px;
}

.phone {
  padding-right: 17px;
}

i {
  transform: translateY(20%);
}

a {
  text-decoration: none;
  color: white;
}

#content {
  text-align: center;
}

body {
  background-image: url("https://bankjoy.com/assets/images/backgrounds/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

#images {
  width: 100%;
  position: relative;
  padding-top: 50px;
}

img {
  width: 330px;
  height:673;
}

.imageleft {
  position: absolute;
  left: 26.5%;
  z-index: 1;
}

.imagecenter {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

.imageright {
  position: absolute;
  left: 55.5%;
  z-index: 1;
}
