#overlay {
  width: 100%;
  height: 100%;
  background-color: rgba(61,70,100,.86);
  overflow: scroll;
}

h1 {
  text-align: center;
  font-family: Arvo;
  font-size: 50px;
  color: white;
  font-weight: lighter;
}

h2 {
  font-family: Source Sans Pro;
  font-weight: lighter;
  font-size: 58px;
  color: white;
  letter-spacing: 1px;
  margin-bottom: 30px;
}

.links {
  position: aboslute;
  text-align: right;
  padding: 33px 55px 0px 0px;
  font-family: Source Sans Pro;
  font-size: 17px;
}

.phone {
  padding-right: 17px;
}

i {
  transform: translateY(20%);
}

a {
  text-decoration: none;
  color: white;
}

#content {
  text-align: center;
}

p {
  font-family: 'Source Sans Pro';
  font-size: 14px;
  position: relative;
  margin-top: 0px;
  color: rgb(167,169,180);
  margin-bottom: 45px;
  letter-spacing: .1px;
}

button {
  font-size: 15px;
  font-weight: 100;
  color: white;
  background-color: rgb(83,115,218);
  border-radius: 50px;
  padding: 15px 40px;
  border: none;
}

button:hover {
  opacity: .8;
}

/*Styling for background/foreground images*/

body {
  background-image: url("https://bankjoy.com/assets/images/backgrounds/background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0px;
  height: 100vh;
}

#footer {
  margin-top: 60px;
}

#images {
  position: relative;
  width: 75%;
  margin: auto;
}

.left {
  position: absolute;
  width: 31.5%;
  z-index: 1;
  margin-top: 4%;
  left: 9%;
}

.center {
  position: absolute;
  width: 33%;
  z-index: 2;
  margin: auto;
  right: 0;
  left: 0;
  filter: drop-shadow(20px 30px 35px #333) drop-shadow(-20px 30px 35px #333);
}

.right {
  position: absolute;
  width: 31.5%;
  z-index: 1;
  left: 60%;
  margin-top: 4%;
}
